
    /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      padding-bottom: 40px;
      color: #5a5a5a;
    }


    p{
		font-size:120%; text-align:justify; font-family:Arial;}
    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 1000;
      margin-top: 0px;
      margin-bottom: 0px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }
    .navbar-wrapper .navbar {

    }

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
    }

    /* Downsize the brand/project name a bit */
    .navbar .brand {
      padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 15px 20px;
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar
    {
      margin-top: 25px;
    }



    /* CUSTOMIZE THE CAROUSEL
    -------------------------------------------------- */

    /* Carousel base class */
    .carousel {
      margin-bottom: 20px;
    }

    .carousel .container {
      position: relative;
      z-index: 9;
    }

    .carousel-control {
      height: 80px;
      margin-top: 0;
      font-size: 120px;
      text-shadow: 0 1px 1px rgba(0,0,0,.4);
      background-color: transparent;
      border: 0;
      z-index: 10;
    }

    .carousel .item {
      height: 500px;
    }
    .carousel img {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 200px;
    }
    .carousel-caption h1,
    .carousel-caption .lead {
      margin: 0;
      line-height: 1.25;
      color: #fff;
      text-shadow: 4px 0px 4px rgba(0,0,0,1);
    }
    .carousel-caption .btn {
      margin-top: 10px;
    }



    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .marketing .span4 {
      text-align: center;
    }
    .marketing h2 {
      font-weight: normal;
    }
    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }


    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 80px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      margin-right: 40px;
    }
    .featurette-image.pull-right {
      margin-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }



    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (min-width: 979px) {
    .navbar { display: none; }
                  .fbig
                {   display: block;
        }
        .fsmall
                {   display: none;
        }


.logo-piede
{
    border-right: 1px #3e4095 solid; 
    padding: 0 20px 0 0; 
    display: block; 
    height: 80px;
}
    
      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: -20px 0;
      }

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

      .featurette {
        height: auto;
        padding: 0;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        display: block;
        float: none;
        max-width: 40%;
        margin: 0 auto 20px;
      }
      
    }


    @media (max-width: 767px) {
    .menu-grande { display: none; }
        .fbig
                {   display: none;
        }
        .fsmall
                {   display: block;
        }
        
                .logo-piede , .piede 
                {   border: none;
            text-align: center;
            display: block;
        }
      .navbar-inner {
        margin: -10px;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }

      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .featurette .lead {
        font-size: 18px;
        line-height: 1.5;
      }
      
    }
    
    .piede
    {
   color: #3e4095;
   font-size: 90%;
   }

.divpiede
{
   padding: 10px 0 0 0;
} 


/* Para el Slider */
/* Para el Slider */
/* Para el Slider */
/* Para el Slider */
/* Para el Slider */
/* Para el Slider */
/* Para el Slider */
  #slides{
      display: none;
      margin-bottom:50px;
    }

    .slidesjs-navigation {
      margin-top:3px;
    }

    .slidesjs-previous {
      margin-right: 5px;
      float: left;
    }

    .slidesjs-next {
      margin-right: 5px;
      float: left;
    }

    .slidesjs-pagination {
      margin: 6px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(img/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    a:link,
    a:visited {
      color: #333
    }

    a:hover,
    a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }
    
      #slides {
      display: none
    }

    .container {
      margin: 0 auto
    }

    /* For tablets & smart phones */
    @media (max-width: 767px) {
      body {
        padding-left: 20px;
        padding-right: 20px;
      }
      .container {
        width: auto
      }
      

    }

    /* For smartphones */
    @media (max-width: 480px) {
      .container {
        width: auto
      }
        .logo-piede , .piede 
                {   border: none;
            text-align: center;
            display: block;
        }
        .logo-piede img
                {   margin: auto;
        }
        .fbig
                {   display: none;
        }
        .fsmall
                {   display: block;
        }
    }
                   

    /* For smaller displays like laptops */
    @media (min-width: 768px) and (max-width: 979px) {
      .container {
        width: 724px
      }    

        .fbig
                {   display: block;
        }
        .fsmall
                {   display: none;
        }
     }

    /* For larger displays */
    @media (min-width: 1200px) {
      .container {
        width: 1170px
      }
      .navbar { display : none; }

    }


    
    
    
    /* -------------------------- HR */
    /* -------------------------- HR */
    
    hr.carved {
  clear: both; 
  float: none; 
  width: 100%; 
  height: 2px;
  margin: 1.4em 0;
  border: none; 
  background: #ddd;
  background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.5, rgb(221,221,221)),
      color-stop(0.5, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
      center top,
      rgb(221,221,221) 50%,
      rgb(255,255,255) 50%
  );
}

hr.faded {
  clear: both; 
  float: none; 
  width: 100%; 
  height: 1px;
  margin: 1.4em 0;
  border: none; 
  background: #ddd;
  background-image: -webkit-gradient(
      linear,
      left bottom,
      right bottom,
      color-stop(0, rgb(255,255,255)),
      color-stop(0.1, rgb(221,221,221)),
      color-stop(0.9, rgb(221,221,221)),
      color-stop(1, rgb(255,255,255))
  );
  background-image: -moz-linear-gradient(
      left center,
      rgb(255,255,255) 0%,
      rgb(221,221,221) 10%,
      rgb(221,221,221) 90%,
      rgb(255,255,255) 100%
  );
}
    
    /* -------------------------- HR */
    /* -------------------------- HR */
    
 .navsup .nav > li > a
 {
    color: #ff6600;
 }
 
 .menu-grande
 {  position: relative;
    padding: 10px 0;
}
 
 .slogan-menu-grande
 {  float: right;
    color: #999;
    margin: 35px 10px 0 0;
 }
 .items-menu-grande
 {      float: right;
    list-style: none;
    bottom: 0;
    right: 0;
    position: absolute;
 }
 .items-menu-grande li
 {
    float: left;
    padding: 0px 5px;
 }
 
 .items-menu-grande li a
 {  color: #333;
    font-size: 2.1em;
    text-transform: uppercase;
    font-family: 'Yanone Kaffeesatz';
    text-shadow: -1px -1px #fff, 1px 1px #fff;
 }
 
 
 .items-menu-grande li a:hover,  .items-menu-grande li a.active
 {  color: #ff0000;
    text-decoration: none;
 }
 
 
 
 
 .menu-grande-bg
 {
background-color: #fafafa;
background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
background-repeat: repeat-x;
border-bottom: 1px solid #d4d4d4;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
} 




img { max-width: 100%; }

.fuente-jasab
{
    font-family: 'BauhausITCbyBT-Medium';
}

.fuente-small
{
    font-size: 80%;
}
.color-jya
{    color: #3e4095;
}

.color-jya-rojo
{   color: #ed3338;
}

.brand img{
width: 100px;
}

.slider-proyectos
{   font-weight: normal; 
    font-family: arial;
}
.slider-proyectos-titulo
{

    color: #333; 
    text-align: right; 
    padding: 15px 10px 5px 5px; 
    display: block; 
    font-weight: bold; 
    border-bottom: 1px #aaa solid; 
    font-size: 1.8em;
    background: transparent url(../img/iconos/ico_proyectos_portada.png) 5px 10px no-repeat;
    height: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Yanone Kaffeesatz';
    margin: 0;
    text-shadow: -1px -1px rgb(255, 255, 255), 1px 1px rgb(255, 255, 255);
}



.slider-proyectos-descripcion
{   text-align:left; 
    padding:0px; 
    margin:0px; 
    background:#FFF;
    font-size: 1.2em;
    color: #000;
    font-weight: normal; 
    font-family: arial;
    text-align: justify; 
    display: block; ; 
}

.contenidos-jasab
{   font-size: 120%; 
    text-align: justify;
}

.titulo-jasab
{   margin: 0; 
    color: #333;
}

.arrow-jasab
{
        margin: 10px 0 0px 25px;
        padding: 0 0 0 25px;
        background: transparent url(../img/arrow_asab.png) top left no-repeat;
        display: block;
}
.arrow-jasab-small
{
        margin: 0px 0 0px 25px;
        padding: 0 0 0 25px;
        background: transparent url(../img/arrow_asab.png) top left no-repeat;

}


.gradient-gris-oscuro
{
background: #595959; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU5NTk1OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyODI4MjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #595959 0%, #282828 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#595959), color-stop(100%,#282828)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #595959 0%,#282828 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #595959 0%,#282828 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #595959 0%,#282828 100%); /* IE10+ */
background: linear-gradient(to bottom,  #595959 0%,#282828 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#595959', endColorstr='#282828',GradientType=0 ); /* IE6-8 */

}

.gradient-gris-claro
{
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMCIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(246,246,246,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,246,246,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(246,246,246,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(246,246,246,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(246,246,246,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(246,246,246,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#00ffffff',GradientType=0 ); /* IE6-8 */

}

.titulo-enorme-claro
{   color: #FFF;
    font-size: 2.3em;
    padding: 20px 30px;
    display: block;
    font-family: "Yanone Kaffeesatz", cursive;
    text-transform: uppercase;
    font-family: 'Yanone Kaffeesatz';
    letter-spacing: 4px;
    text-shadow: -1px -1px #111, 1px 1px #111;
}

.titulo-enorme-oscuro
{   color: #000;
    font-size: 2.4em;
    padding: 5px 30px;
    display: block;
    font-family: "Yanone Kaffeesatz", cursive;
    text-transform: uppercase;
    letter-spacing: 6px;
    text-shadow: -1px -1px #fff, 1px 1px #fff;
}



.descripcion-bloque-enorme
{
    text-align: center;
    display: block;
    margin: 90px auto 0 auto;
    max-width: 600px;
    font-size: 2em;
    font-family: 'Niconne', cursive;
    line-height: 1.3em
}
.descripcion-bloque-normal
{
    text-align: center;
    display: block;
    margin: 0px auto 0 auto;
    max-width: 400px;
    font-size: 1.6em;
    font-family: 'Niconne', cursive;
    color: #999;
}



q:before { 
display: block;
content: '\201C'; 
float: left;
font-size: 3em;
} 
q:after { 
display: block;
content: '\201D'; 
float: right;
font-size: 3em;
}
 q q:before {
display: inline;
content: '\2018'; 
float: left;
font-size: 3em;
} 
q q:after {
display: inline;
content: '\2019'; 
float: right;
font-size: 3em;
} 

.facebook-big-button
{
            background: transparent url(../img/face_gray.png) top left no-repeat;
            display: block;
            width: 64px;
            height: 64px;
            border: none;
}
.facebook-big-button:hover
{
        background: transparent url(../img/face.png) top left no-repeat;
}



/* --- */
/*
            <div class="mn-galeria-block">
                <div class="mn-galeria-descripcion">
                    <div class="mn-galeria-titulo"></div>
                    <span class="mn-galeria-texto">Reparación de Alto Horno por Siniestro</span>
                </div>                
                <div class="mn-galeria-ft1">
                    <div class="mn-galeria-ft2"><img src="http://placehold.it/120x90&text=[img]" /></div>
                    <img src="http://placehold.it/120x90&text=[img]" />
                </div>
            </div>
            
*/

.bg-grad-negro
{
background: rgb(125,126,125); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkN2U3ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZTBlMGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-8 */

}

.bg-grad-azul
{
background: rgb(0,85,255); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNTVmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwNTFmYjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(0,85,255,1) 0%, rgba(5,31,181,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,85,255,1)), color-stop(100%,rgba(5,31,181,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,85,255,1) 0%,rgba(5,31,181,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,85,255,1) 0%,rgba(5,31,181,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,85,255,1) 0%,rgba(5,31,181,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,85,255,1) 0%,rgba(5,31,181,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0055ff', endColorstr='#051fb5',GradientType=0 ); /* IE6-8 */

}


.bg-grad-rojo
{
background: rgb(255,0,0); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4OTA0MDQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(255,0,0,1) 0%, rgba(137,4,4,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,0,0,1)), color-stop(100%,rgba(137,4,4,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,0,0,1) 0%,rgba(137,4,4,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,0,0,1) 0%,rgba(137,4,4,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,0,0,1) 0%,rgba(137,4,4,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,0,0,1) 0%,rgba(137,4,4,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#890404',GradientType=0 ); /* IE6-8 */

}

.bg-grad-gris
{
background: rgb(255,255,255); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-8 */

}


.mn-galeria-block
{   display: block;
    width: 360px;
    height:  270px;
    margin: 0 10px 30px 10px;
    float: left;
}
.mn-galeria-descripcion
{   display: block;
    height: 135px;
    color: #000;
}
.mn-galeria-titulo
{   float: left;
    height: 115px;
    width: 160px;
    padding: 10px;
    color:#FFF;
    margin: 0 10px 0 0;
    font-size: 1.5em;
    font-weight: bold;
}
.mn-galeria-block:hover , .mn-galeria-texto:hover, .mn-galeria-titulo:hover, .mn-galeria-descripcion:hover
{
    text-decoration: none;
}
.mn-galeria-texto
{  
    padding: 10px;
    display: block;
    text-decoration: none;
}
.mn-galeria-ft1
{   display: block;
}
.mn-galeria-ft2
{   float: left;
}

        
h3 { font-weight: normal;  font-family: "ars-maquette-web",Gotham,Frutiger,"Frutiger Linotype",Univers,Calibri,"Gill Sans","Gill Sans MT","Myriad Pro",Myriad,"DejaVu Sans Condensed","Liberation Sans","Nimbus Sans L",Tahoma,Geneva,"Helvetica Neue",Helvetica,Arial,sans-serif;}


.ico-grua
{   background: transparent url(../img/iconos/ico_grua.png) 5px 10px no-repeat;
    padding: 15px 0 5px 70px;
   border-bottom: 1px #eee solid;
}
.ico-civil
{   background: transparent url(../img/iconos/ico_civil.png) 5px 10px no-repeat;
    padding: 15px 0 5px 70px;
   border-bottom: 1px #eee solid;
}
.ico-soldar
{   background: transparent url(../img/iconos/ico_soldar.png) 5px 10px no-repeat;
    padding: 15px 0 5px 70px;
   border-bottom: 1px #eee solid;
}

/* Estilos para el slider de los ultimos proyectos */

.slider {
    margin-left: 22px;
}

.jbhSlider ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.jbhSliderNavigation {
    list-style-type: none;
    margin: 10px auto 0 auto;
	text-align: center;
}

.jbhSliderNavigation li {
    display: inline-block;
    margin: 3px 3px 3px 0;
}

.jbhSliderNavigation li a {
    font-size: 9.75px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    white-space: nowrap;
}

.jbhSliderNavigation li a:hover {
    text-decoration: none;
}

.jbhSliderPages {
    float: right;
    list-style-type: none;
}

.jbhSliderPages li {
    display: inline-block;
    margin: 3px 0 3px 3px;
}

.jbhSliderPages li a {
    font-size: 9.75px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    white-space: nowrap;
	
}

.jbhSliderPages li a:hover {
    text-decoration: none;
}

.jbhSliderPages li.current a {
}

.jbhSliderNavigation.custom li a {
    padding: 0;
    background-color: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.jbhSliderNavigationNext, .jbhSliderNavigationNext:hover
{	text-indent: -20000px;
	background: #fff url(../img/nav.png) -43px 0 no-repeat;
	width: 39px;
	height: 39px;
	display: block;
	padding: 0;
}

.jbhSliderNavigationPrevious, .jbhSliderNavigationPrevious:hover
{	text-indent: -20000px;
	background: #fff url(../img/nav.png) top left no-repeat;
	width: 39px;
	height: 39px;
	display: block;
	padding: 0;
}